<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>802806570868-c99rt8sd7tqccsum9bs2tnaeqjr3e7ga.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.802806570868-c99rt8sd7tqccsum9bs2tnaeqjr3e7ga</string>
	<key>API_KEY</key>
	<string>AIzaSyB09IPqJ2uYAmB-tp6ySowWtAImJDRzwgM</string>
	<key>GCM_SENDER_ID</key>
	<string>802806570868</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pw.k-r.mentortee.mentortee</string>
	<key>PROJECT_ID</key>
	<string>gominsee</string>
	<key>STORAGE_BUCKET</key>
	<string>gominsee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:802806570868:ios:fc73c7818a320586db5621</string>
</dict>
</plist>